// 비디오 페이지
.video__inner {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    justify-content: space-between;
    gap: 20px;

    @media (max-width: 1400px) {
        grid-template-columns: repeat(3, 32%);
        gap: 15px;
    }

    @media (max-width: 1200px) {
        grid-template-columns: repeat(2, 49%);
        gap: 10px;
    }

    @media (max-width: 400px) {
        grid-template-columns: repeat(1, 100%);
    }

    .video {
        .video__thumb {
            a {
                display: block;
                width: 100%;
                padding-bottom: 56.25%;
                background-size: cover;
                background-position: center center;
            }
        }

        .video__info {
            background-color: var(--black200);
            padding: 1rem;

            .title {
                @include line-two;
                min-height: 48px;

                @media (max-width: 800px) {
                    min-height: 40px;
                }
            }

            .author {
                a {
                    background-color: var(--white);
                    border-radius: 20px;
                    color: var(--black200);
                    font-size: 12px;
                    padding: 1px 10px;
                    text-transform: uppercase;
                    margin-top: 10px;
                    display: inline-block;
                }

            }
        }
    }
}

// 메인 페이지 비디오 슬라이드
.video__slider {
    .video {
        .video__thumb {
            margin-bottom: 5px;
        }

        .video__text {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }
}

//비디오 상세
.video__view {
    padding: 2rem;

    .video__play {
        display: flex;
        margin-bottom: 1rem;
        width: 100%;

        .left {
            width: 70%;
            position: relative;

            iframe {
                position: absolute;
                left: 0;
                top: 0;
            }
        }

        .right {
            width: 30%;
            height: 70vh;
            overflow-y: auto;
            padding: 20px;

            .right__inner {
                height: 100%;
                overflow-y: scroll;
                -ms-overflow-style: none;
                scrollbar-width: none;
            }

            .right-inner::-webkit-scrollbar {
                display: none;
            }

            h3 {
                text-align: center;
                background-color: var(--white);
                color: var(--black);
                border-radius: 40px;
                margin-bottom: 0.5rem;
            }

            li {
                margin-bottom: 15px;
                border-bottom: 1px dashed var(--white300);
                padding-bottom: 10px;
            }
        }

    }

    .video__info {
        .title {
            font-size: 1.25rem;
            margin-bottom: 1rem;
        }

        .channel {
            display: flex;
            justify-content: space-between;
            background-color: #333;
            padding: 1rem 2rem;
            border-radius: 40px;
            margin-bottom: 1rem;

            span {
                margin-left: 10px;

                svg {
                    width: 20px;
                    height: 20px;
                    vertical-align: -5px;
                    margin-right: 5px;
                }
            }

            .channelTitle {
                font-size: 1rem;
                font-weight: bold;
            }
        }
    }

    .video__desc {
        white-space: pre-line;
        line-height: 1.8;
    }

}